* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 14px 'Arial', sans-serif;
    line-height: 1.42857143;
    color: #333;
}
.content {
    min-height: calc(100vh - 57px);
}
header {
    background: #edeef0;
    height: 43px;
}
.container {
    margin: 0 auto;
    padding: 0 13px;
}
.container::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.nav-tabs {
    box-sizing: content-box;
    text-align: center;
    width: 79px;
    height: 43px;
    margin-right: 93px;
    float: right;
    line-height: 43px;
    background: #e2e4e9;
}
.nav-tabs:hover {
    cursor: pointer;
    border-bottom: 1px solid #e2e4e9;

}
.nav-link {
    text-decoration: none;
    margin: 0;
    color: #30363e;
    font: 400 30px 'Roboto', sans-serif;
    padding: 0 15px;
    text-align: center;
}
.nav-tabs span {
    border: none;
    display: inline-block;
    background: url("images/arrow-down.svg");
    width: 10px;
    height: 5px;
    margin-left: 8px;
    vertical-align: middle;
}
/*Основная часть*/

.content-box-row {
    vertical-align: middle;
    padding: 15px 10px;
}
.column-one {
    margin-left: 12px;
    padding-right: 15px;
    padding-left: 88px;
    width: 50%;
    float: left;
}
.column-one .img-logo {
    max-height: 65px;
    max-width: 225px;
    float: left;
    margin-right: 50px;
    display: block;
}
.container .column-one h2 {
    float: left;
    color: #30363e;
    font: 500 65px 'Roboto', sans-serif;
    line-height: 1;
    margin: 20px 250px 10px 0;
}
.container .column-one span {
    color: #2f78d6;
    font: 700 35px 'Roboto', sans-serif;
    display: inline-block;
    margin-bottom: 45px;
    margin-right: 250px;
    line-height: 1;
}
.container .column-one p {
    color: #999;
    font: 400 14px/1.42857143 'Roboto', sans-serif;
    clear: both;
}
.column-two {
    margin-left: -15px;
    padding: 1px 82px 0 24px;
    width: 50%;
    float: right;
}
.column-two .under-table {
    color: #30363e;
    font: 300 42px/1.42857143 'Roboto', sans-serif;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.column-two .table {
    padding: 30px;
    background: #edeef0;
}
.column-two .table input[placeholder],
.column-two .table textarea {
    color: #999;
    font: 300 20px 'Roboto', sans-serif;
    padding: 14px 13px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #e4e4e6;
}
.column-two .table label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.column-two .table .name {
    width: 100%;
}
.column-two .table .mail,
.column-two .table .phone {
    width: calc(50% - 7px);
}
.column-two .table .mail {
    margin-right: 5px;
}
.column-two .table .phone {
    margin-left: 5px;
}
.column-two .table textarea {
    padding-top: 22px;
    margin-bottom: 0;
    height: 466px;
    max-height: 145px;
    resize: none;
}
.column-two .table .button {
    display: block;
    margin: 15px auto 0;
    color: #ffffff;
    font: 500 18px 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 16px 74px;
    background: #3078d7;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: all .3s ease;
    cursor: pointer;
}
.column-two .table .button:hover {
    transition: background .3s ease;
    background: rgb(38, 70, 139);
}
.footer {
    text-align: center;
    max-height: 57px;
    border-top: 5px solid #edeef0;
    color: #999;
    font: 300 18px 'Roboto', sans-serif;
    line-height: 57px;
}
.footer a {
    color: #999;
    text-decoration: underline;
}
